# Database
DATABASE_URL="postgresql://user:password@localhost:5432/personal_finance"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# App
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
AUTH_SECRET="your_randomly_generated_secret_key"